body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}
#info{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FC5E01;
    letter-spacing: 1em;
}
.clock{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    font-size: 60px;
    color:  #17D4FE;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 6px;
}
@media(max-width: 600px){
    #info{
        margin-top: 20%;
        font-size: 15px;
    }
    .clock{
        font-size: 30px;
        margin-top: 30%;
    }
}